@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url(./assets/dialect_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}