@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Atkinson Hyperlegible', 'sans-serif';
}
.hero{
  background-image: url(./assets/dialect_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-items {
  transition: transform 0.5s ease-in;
}

.carousel-items--scale-down {
  transform: scale(95%);
}